	
	h1 {
  		text-shadow: 2px 3px 5px;
	}
	.line text {
		fill: black;
		font: 10px sans-serif;
		text-anchor: end;
	}

	g.circle.text {
		text-shadow: 2px 3px 5px;
	}
	.line {
		fill: none;
		opacity: 0.9;
	}
	.axis text {
		font: 10px sans-serif;
		fill: black;
	}
	.y.axis {
		fill: black;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	.overlay {
	  	fill: none;
  		pointer-events: all;
	}

	.focus circle,
	.focus2 circle,
	.focus3 circle {
	  fill: none;
	  stroke: steelblue;
	}